.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  position: relative;
}

.btn {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 6px;
  right: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(252, 251, 254);
  background-color: rgba(0, 0, 0, 0.519);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
